#chart_container {
    position: relative;
    display: inline-block;
}

#side_panel {
    margin: 0 20px 20px 0;
    width: 240px;
    display:  inline-block;
    vertical-align: top;
}

.red {
    float: left;
    width: 45%
    border: none;
 }

#accordion .content {
    min-width: 200px;
    white-space: nowrap;
    display: block;
    font-size: 2em;
    background-color: #e0e0e0;
    border-color: solid;
    border-width: 1px;
    font-weight: normal;
    color: #4d4d4d;
    cursor: pointer;
    padding: 5px 5px 5px 10px;
    border-radius: 10px;
    text-shadow: none;
}
